<form action="/uploadfile" method="post">
    <input type="text" name="title" placeholder="Product Name">
    <input type="text" name="description" placeholder="Product Description">
    <input type="number" name="price" placeholder="Product Price">
    <input type="text" name="code" placeholder="SKU">
    <input type="number" name="stock" placeholder="Stock">
    <input type="file" name="thumbnails" multiple>
    <input type="submit" value="Create Item">
  </form>
  {{#}}